.user_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
    input{
        border-radius: 5px;
        border: 1px solid gray;
        padding: 3px 6px;
    }
    div{
        span{
            border: 1px solid gray;
            border-radius: 5px;
            padding: 3px 6px;
            margin-left: 10px;
        }
    }
}