.layout-wrapper{
    .menu-link{
        text-decoration: none;
    }
    .layout-container{
        aside{
            box-shadow: var(--shadow_color);
            .menu-inner{
                .menu-item{
                    div{
                        margin-left: 10px;
                        text-decoration: none;
                    }
                }
            }
        }
        .sun{
            i{
                font-size: 17px;
            }
        }
        .nav_firstName{
            font-weight: bold;
        }
        .nav_name{
            margin:0px 10px;
            .nav_userName{
                font-size: 12px;
                font-weight: bold;
                display: flex;
                justify-content: end;
            }
        }
        .hambarger_menu{
            font-size: 18px;
        }
        .dashboard_title{
            // text-decoration: none;
            margin-top: 20px;
        }
    }
}